html {
  background-color: #fcfcf9;
}
.container {
  background-color: white;
  display: flex;
  height: 150px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  /* border: 1px solid grey; */
  border-radius: 5px;

  padding: 10px;
  margin: 10px;
}
.bio {
  margin-left:10px;
}
.user-name {
  font-weight:bold;
  color:steelblue;
}