.container {
  display: flex;
  height: 100px;
  width: 400px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px grey;
  padding: 10px;
  margin: 10px;
}

.bio {
  margin-left: 10px;
}

.user-name {
  font-weight: bold;
  color: steelblue;
}
